<% provide(:title, 'About') %>
<h1>About DormRate</h1>
<p>
  Ever wondered if you could find the best rated rooms on campus? DormRate lets users rate their rooms on campus, and everyone can see the rooms, their decorations, and can ask questions!<br>

  Let's make room selection easier than ever before!<br>

  "It's the Yelp of Dorms" -Vidush's Friends
</p>
